<div class="footer">
    <div class="footer_main">
        <div class="first">
            <h2><img style="width: 42px; height: 38px; margin: 0; position: relative; top: 10px;" src="/assets/logo.png"/>Digilearn</h2>
            <p>Unlock Digital Mastery Effortlessly!<br/> Explore and enhance your skills<br/>with our user-friendly platform.</p>
        </div>
        <div class="second">
            <h2>Quick links</h2>
            <p>About us</p>
            <p>Our Class</p>
            <p>Blog</p>
            <p>Contact</p>
        </div>
        <div class="third">
            <h2>Resources</h2>
            <p>Support</p>
            <p>Privacy policy</p>
            <p>Terms & Conditions</p>
        </div>
        <div class="icon">
            <h2>Social media</h2>
            <div class="icon_icon">
                <img src="/assets/Facebook.png"/>
                <img src="/assets/Twitter.png"/>
                <img src="/assets/Instagram.png"/>
                <img src="/assets/Linkedin.png"/>
                <img src="/assets/Youtube.png"/>
            </div>
        </div>
    </div>
</div>