<div class="about_us">
    <div class="skils">
        <div class="img">
            <img src="/assets/aboutus.jpg"/>
        </div>
        <div class="text">
            <p><img style="margin-bottom: 5px; margin-right: 40px;" src="/assets/Vector 2.png"/>About us</p>
            <h2>E-Learning Platform for Digital <br/> Skills</h2>
            <p>Empower yourself with the knowledge and skills <br/> gained through online education! The key to your <br/> future! Empower yourself with the knowledge and <br/> skills gained through online education! The key to <br/> your future!</p>
            <div class="btn">
                <button>Learn more <img style="position: relative; top: 5px; left: 10px;" src="/assets/ArrowRight.png"/></button>
            </div>
        </div>
    </div>
    <div class="num">
        <div>
            <h2 style="font-size: 64px;">15<span style="color: #A4074D;">+</span></h2>
            <p style="font-size: 20px;">Years of <br/> experience</p>
        </div>
        <div>
            <h2 style="font-size: 64px;">100<span style="color: #A4074D;">k</span></h2>
            <p style="font-size: 20px;">Students <br/> worldwide</p>
        </div>
        <div>
            <h2 style="font-size: 64px;">45<span style="color: #A4074D;">+</span></h2>
            <p style="font-size: 20px;">Class subjects</p>
        </div>
        <div>
            <h2 style="font-size: 64px;">98<span style="color: #A4074D;">%</span></h2>
            <p>Student <br/> satisfactions</p>
        </div>
    </div>
</div>
